
:root {
  --ice: #F5FAFB;
  --blue: #0D61D6;
  --navy: #273E69;
}


body {
    margin: 0;
    font-family: sans-serif;
    color: var(--ice);
    background: var(--blue);
    text-align: center;
}


  

#home{
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 45vh;
}

.pages img{
    display: block;
    max-width: 70vw; /* Image will shrink but never exceed its container's width */
    height: auto;    /* Maintains the original aspect ratio */
    margin: 20px auto;  /* Centers the image if it's a block element */
}

#page{
    position: relative;
    display: inline-block;
    /* border: 10px solid red; */
   
}

#page img{
    position: relative;
    margin: 0;
    z-index: 1;
}

.tea-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -44%);
    aspect-ratio: 16 / 9;
    z-index: 2;
}

.elevator-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-78%, -40%);
    aspect-ratio: 16 / 9;
    z-index: 2;
}

/* .tea-video iframe{
    width: 100%;
    height: 100%;
} */


/* #about{
    box-sizing: border-box;
    position: fixed;
    width: 50vw;
    height: 75vh;
    top: 0;
    left: 0;
    border: 4px var(--blue) solid;
    background: var(--ice);
    padding: 20px;
}

#contact{
    box-sizing: border-box;
    position: fixed;
    width: 50vw;
    height: 25vh;
    bottom: 0;
    left: 0;
    border: 4px var(--blue) solid;
    border-top: none;
    background: var(--ice);
    padding: 20px; 
}

#work{
    box-sizing: border-box;
    position: fixed;
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 50vw;
    border: 4px var(--blue) solid;
    border-left: none;
    background: var(--ice);
    padding: 20px;
} */