
:root {
  --light-blue: #97D2F4;
  --blue: #284AAA;
  --purple: #292449;
  --dusty-purple: #3E3A5B;
}

@font-face {
    font-family: "RISD Sans";
    src: url("assets/fonts/RISD_Sans_Variable.ttf") format("truetype");

}



::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: var(--purple) ;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 12px;
   
}


body {
    margin: 0;
    font-family: sans-serif;
    color: white;
    background: var(--blue);
    text-align: center;
}



#home{
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 45vh;
}

.header {
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    background-color: var(--purple);
    top: 0;
    z-index: 1000;

}

.header-left {
    margin-left: 20px;
    font-family: "RISD Sans", sans-serif;
    font-size: 18px;
    font-weight: 100;

}

.header-center {
    position: absolute;
    left: 50%;
    display:flex;
    align-items: center;
}

.dropdown-btn {
    background: var(--blue);
    border-radius: 30px;
    border: white 2px solid;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-family: "RISD Sans", sans-serif;
    font-size: 24px;
    font-weight: 320;
    letter-spacing: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: var(--light-blue);
    min-width: 100px;
    height: auto;
    width: 25vw;
    z-index: 999;
    text-align: left;
    padding: 25px;
    padding-left: 40px; 

    font-family: "RISD Sans", sans-serif;
    color: var(--purple);
    font-size: 16px;
    font-weight: 310;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

.dropdown-content input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
}


.pages {
    padding-top: 80px;
    padding-bottom: 40px;

}

.pages img{
    display: block;
    max-width: 70vw; /* Image will shrink but never exceed its container's width */
    height: auto;    /* Maintains the original aspect ratio */
    margin: 20px auto;  /* Centers the image if it's a block element */
}

#page{
    position: relative;
    display: inline-block;
    /* border: 10px solid red; */
   
}

#page img{
    position: relative;
    margin: 0;
    z-index: 1;
}

.tea-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -44%);
    aspect-ratio: 16 / 9;
    z-index: 2;
}

.elevator-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-78%, -40%);
    aspect-ratio: 16 / 9;
    z-index: 2;
}

/* .tea-video iframe{
    width: 100%;
    height: 100%;
} */


/* #about{
    box-sizing: border-box;
    position: fixed;
    width: 50vw;
    height: 75vh;
    top: 0;
    left: 0;
    border: 4px var(--blue) solid;
    background: var(--ice);
    padding: 20px;
}

#contact{
    box-sizing: border-box;
    position: fixed;
    width: 50vw;
    height: 25vh;
    bottom: 0;
    left: 0;
    border: 4px var(--blue) solid;
    border-top: none;
    background: var(--ice);
    padding: 20px; 
}

#work{
    box-sizing: border-box;
    position: fixed;
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 50vw;
    border: 4px var(--blue) solid;
    border-left: none;
    background: var(--ice);
    padding: 20px;
} */